<div *ngFor="let task of tasks; let i = index">
        <div *ngIf="task.isEditing">
            <tui-input [formControl]="newTaskText" class="add-input">
                Add your task
                <input
                tuiTextfield
                type="text"  
            >
            </tui-input>
            <button (click)="editTask(i)">Edit</button>    
        </div>

        <div *ngIf="!task.isEditing">
            <app-single-task [item]="task.text" (deleteTask)="deleteTask($event)" [index]="i" ></app-single-task>
        </div>
</div>
